
    body{
    text-align: center;
    background-image: url("./images/background-board-grain-326270.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
	background-attachment: fixed;
			background-size:  cover;
}
#Totalsyle{
    display: inline-block;
    text-align: center;
    width: 75%;
    box-shadow: .6em .6em .3em .3em #00000094;

}
.logout{
    display: flex;
    justify-content: center;
    text-align: center;
}
button{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    border-radius: 3em;
    box-shadow: .05em .05em .1em .1em #00000059;
    font-size: 1em;
    background-image: url("./images/steel-499897_960_720.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
			background-size:  cover;

}
button:hover{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    border-radius: 3em;
    box-shadow: .02em .02em .08em .08em #00000098;

}
.header1{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
    box-shadow: .05em .05em .1em .1em #000000a4;
    background-image: url("./images/80af03f7de51587aa581d1042f5dfb96--plywood-birches.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
			background-size:  cover;
}

.header123{
    display: flex;
    box-shadow: .05em .05em .1em .1em #00000059;
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    justify-content: center;
    background-image: url("./images/80af03f7de51587aa581d1042f5dfb96--plywood-birches.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
			background-size:  cover;

}
.StoryHeader{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
}
.output__logout{
    display: flex;

    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
    justify-content: center;

    padding: 1%;
}
.output__login{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
    box-shadow: .05em .05em .1em .1em #00000059;
    background-image: url("./images/80af03f7de51587aa581d1042f5dfb96--plywood-birches.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
			background-size:  cover;
}
.output__registration{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
    box-shadow: .05em .05em .1em .1em #00000059;
    background-image: url("./images/80af03f7de51587aa581d1042f5dfb96--plywood-birches.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
			background-size:  cover;
}
.Story{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    word-wrap: inherit;
    text-align: center;
}
.Arti1{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    word-wrap: break-word;
    text-align: center;
    padding: 10%;
    box-shadow: .05em .05em .1em .1em #00000059;
}
.stories{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
    padding: 1%;
    box-shadow: .05em .05em .1em .1em #00000059;
    padding: 2%;
    background-image: url("./images/80af03f7de51587aa581d1042f5dfb96--plywood-birches.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
			background-size:  cover;
}
input{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    border-radius: 25px;
    box-shadow: .05em .05em .1em .1em #0000000c;
    font-size: 1.3em;
    text-align: center;
    background-image: url("./images/rough-beige-paper-texture.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
			background-size:  cover;



}
input:hover{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    border-radius: 25px;
    box-shadow: .02em .02em .08em .08em #0000003a;
    text-align: center;

}
h2{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    box-shadow: .05em .05em .1em .1em #00000059;
    background-image: url("./images/steel-499897_960_720.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
			background-size:  cover;
}
h2:hover{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    box-shadow: .1em .1em .2em .2em #00000059;

}
.Story2{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
}
.Story3{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    padding: 2%;
    box-shadow: .05em .05em .1em .1em #00000059;
}
p{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
    font-size: 2em;
    padding: 1em;
    box-shadow: .1em .1em .2em .2em #00000059;
}
p:hover{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    padding: 1em;
    box-shadow: .1em .1em .2em .2em #00000059;
}
h1{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
}
h1:hover{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
}
@keyframes example {
    0% {
        Right:4000px;
        top:0px;
   }
    100% {
        Right:0px;
        top:0px;
   }
}
.Input1{
    text-align: center;
    font-size: 1.5em;
    width: 75%;
}
.Input2{
    text-align: center;
    font-size: 1.5em;
    width: 75%;

}
.Input3{
    text-align: center;
    font-size: 1.5em;
    width: 75%;

}

.Input4{
    text-align: center;
    font-size: 1.5em;
    width: 75%;

}

.Input5{
    text-align: center;
    font-size: 1.5em;
    width: 75%;

}
.Story4{
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: .05em .05em .1em .1em #00000059;
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    background-image: url("./images/80af03f7de51587aa581d1042f5dfb96--plywood-birches.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
			background-size:  cover;
}
img{
    width: 33%;
    height: 33%;
    padding: 2em;
}

label{
    font-size: .8em;
}

.paragraph{
    background-image: url("./images/steel-499897_960_720.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
			background-size:  cover;
}