
    body{
background-color: white;
    text-align: center;
}

#Totalsyle{
    display: inline-block;
    text-align: center;
    width: 75%;

}

.logout{
    display: flex;
    justify-content: center;
    text-align: center;
}
button{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    border-radius: .5em;
    box-shadow: .05em .05em .1em .1em #00000059;
    background-color: #ffa0c34f;
    font-size: 1.2em
}
button:hover{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    border-radius: .5em;
    box-shadow: .02em .02em .08em .08em #00000098;
    background-color: #ff005d4f;
}
.header1{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
    background-color: rgba(195, 255, 160, 0.151);
    box-shadow: .05em .05em .1em .1em #00000059;
}

.header123{
    display: flex;
    box-shadow: .05em .05em .1em .1em #00000059;
    background-color: rgba(195, 255, 160, 0.151);
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    justify-content: center;

}
.StoryHeader{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
}
.output__logout{
    display: flex;

    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
    justify-content: center;

    padding: 1%;
}
.output__login{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
    background-color: rgba(195, 255, 160, 0.151);
    box-shadow: .05em .05em .1em .1em #00000059;
}
.output__registration{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
    background-color: rgba(195, 255, 160, 0.151);
    box-shadow: .05em .05em .1em .1em #00000059;
}
.Story{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    word-wrap: inherit;
    text-align: center;
}
.Arti1{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    word-wrap: break-word;
    text-align: center;
    padding: 10%;
    box-shadow: .05em .05em .1em .1em #00000059;
    background-color: rgba(195, 255, 160, 0.151)
}
.stories{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
    padding: 1%;
    background-color: rgba(195, 255, 160, 0.151);
    box-shadow: .05em .05em .1em .1em #00000059;
    padding: 2%
}
input{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    border-radius: 25px;
    box-shadow: .05em .05em .1em .1em #0000000c;
    background-color: #ffa0c34f;
    font-size: 1.3em;
    text-align: center;

}
input:hover{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    border-radius: 25px;
    box-shadow: .02em .02em .08em .08em #0000003a;
    background-color: #ff005d4f;
    text-align: center;

}
h2{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    box-shadow: .05em .05em .1em .1em #00000059;
    background-color: #ffa0c34f
}
h2:hover{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    box-shadow: .1em .1em .2em .2em #00000059;
    background-color: #ff005d4f;
}
.Story2{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    background-color: rgba(195, 255, 160, 0.151)
}
.Story3{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    padding: 2%;
    box-shadow: .05em .05em .1em .1em #00000059;
    background-color: rgba(195, 255, 160, 0.151);
}
p{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    text-align: center;
    background-color: #ffa0c34f;
    font-size: 2em;
    padding: 1em;
    box-shadow: .1em .1em .2em .2em #00000059;
}
p:hover{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
    padding: 1em;
    box-shadow: .1em .1em .2em .2em #00000059;
}
h1{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
}
h1:hover{
    position: relative;
    animation-name: example;
    animation-duration: .5s;
}
@keyframes example {
    0% {
        Right:4000px;
        top:0px;
   }
    100% {
        Right:0px;
        top:0px;
   }
}
.Input1{
    text-align: center;
}
.Input2{
    text-align: center;
}
.Input3{
    text-align: center;
}
.Story4{
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: .05em .05em .1em .1em #00000059;
    position: relative;
    animation-name: example;
    animation-duration: .5s;
}
img{
    width: 33%;
    height: 33%;
    padding: 2em;
}

